<form #form="ngForm">
    <div class="flex gap-4 flex-col p-4">
        <div class="flex flex-row gap-4 items-center">
            <div class="w-1/3 text-right">

            </div>
            <div class="w-2/3">
                <h2 class="font-bold text-xl">Change your password</h2>
            </div>
        </div>
        <div class="flex flex-row gap-4 items-center">
            <div class="w-1/3 text-right">
                Old password
            </div>
            <div class="w-2/3">
                <input [(ngModel)]="oldPassword" pInputText type="password" name="oldPassword" id="oldPassword" required class="w-full" #oldPwd="ngModel" (ngModelChange)="formValidator(form)" />
                @if (oldPwd.invalid && (oldPwd.dirty || oldPwd.touched)) {
                <div class="text-sm text-red-500">Old password is required</div>
                }
            </div>
        </div>
        <div class="flex flex-row gap-4 items-center">
            <div class="w-1/3 text-right">
                New password
            </div>
            <div class="w-2/3">
                <input [(ngModel)]="newPassword" pInputText type="password" name="newPassword" id="newPassword" required class="w-full" #newPwd="ngModel" (ngModelChange)="formValidator(form)" />
                @if (newPwd.invalid && (newPwd.dirty || newPwd.touched)) {
                <div class="text-sm text-red-500">New password is required</div>
                }
                @if (newPwd.value == oldPwd.value && (newPwd.dirty || newPwd.touched)) {
                <div class="text-sm text-red-500">New password and old password cannot be the same</div>
                }
            </div>
        </div>
        <div class="flex flex-row gap-4 items-center">
            <div class="w-1/3 text-right">
                New password (again)
            </div>
            <div class="w-2/3">
                <input [(ngModel)]="newPassword_again" pInputText type="password" name="newPassword_again" id="newPassword_again" required class="w-full" #newPwdAgain="ngModel" (ngModelChange)="formValidator(form)" />
                @if (newPwdAgain.invalid && (newPwdAgain.dirty || newPwdAgain.touched)) {
                <div class="text-sm text-red-500">New password (again) is required</div>
                }
                @if (newPwd.value != newPwdAgain.value && (newPwdAgain.dirty || newPwdAgain.touched)) {
                <div class="text-sm text-red-500">New password and new password (again) should be the same</div>
                }
            </div>
        </div>
    </div>
    <div class="bg-gray-50 dark:bg-zinc-700 px-4 pt-3 pb-3 flex flex-col-reverse sm:flex-row sm:flex sm:justify-between gap-2 sm:px-6">
        <button pButton (click)="onCancel()" type="button" icon="pi pi-times" severity="secondary">Cancel/Close</button>
        <button pButton (click)="onSave()" type="submit" icon="pi pi-save" severity="success" [disabled]="form.invalid">Save</button>
    </div>
</form>