<header class="bg-blue-500 p-4 flex justify-between items-center">
    <h1 class="text-3xl font-bold text-white dark:text-gray-800">{{ title() }}</h1>
    <div class="flex flex-col-reverse sm:flex-row gap-4">
        <div (click)="toggleDarkMode()" class="cursor-pointer hover:scale-125 transition-all text-blue-900 dark:text-white">
            @if (darkModeActive()) {
                <div class="pi pi-sun text-2xl"></div>
            } @else {
                <div class="pi pi-moon text-2xl"></div>
            }
        </div>
        <div class="pi pi-user text-white hover:text-blue-900 cursor-pointer text-2xl hover:scale-125 transition-all" (click)="onShowProfile()"></div>
    </div>
</header>

<p-dialog header="User Profile" [modal]="true" [(visible)]="showProfile" [closable]="false" [style]="{ width: '50rem' }">
    <ng-template #headless>
        <app-user-profile (close)="onProfileClose($event)"></app-user-profile>
    </ng-template>
</p-dialog>
