@if (!authService.isLoggedIn()) {
<div class="h-screen flex flex-col bg-gray-100 dark:bg-gray-800">
  <main class="flex flex-grow container mx-auto items-center justify-center"><app-login /></main>
</div>
} @else {
<div class="h-screen flex flex-col bg-gray-100 dark:bg-gray-800">
  <app-header [title]="title" />
  
  <main class="flex flex-grow container mx-auto items-center justify-center relative">
    <app-task-list class="h-full w-full" />
    <router-outlet />
  </main>

  <app-footer />

</div>
}