<div>
  <div class="px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
    <div class="sm:flex sm:items-start">
      <!-- Icon -->
      <div class="mx-auto flex size-12 shrink-0 items-center justify-center rounded-full bg-green-100 dark:bg-green-800 sm:mx-0 sm:size-10">
        <svg class="size-6 text-green-600" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 12h16.5m-16.5 3.75h16.5M3.75 19.5h16.5M5.625 4.5h12.75a1.875 1.875 0 0 1 0 3.75H5.625a1.875 1.875 0 0 1 0-3.75Z"></path>
        </svg>
      </div>
      <!-- Content -->
      <form #form="ngForm">
        <div class="mt-3 sm:flex-grow sm:ml-4 sm:mt-0 sm:text-left">
          <h3 class="text-base font-semibold text-gray-900" id="modal-title">
            @if (this.task_id() === 0) {
              @if (task.title.trim() === '') {
                Create a new task
              } @else {
                {{ task.title }}
              }
            } @else {
              {{ task.title}}
            }
          </h3>

          <!-- Title -->
          <div class="mt-2 flex items-center">
            <div class="text-sm text-gray-500 w-1/3 font-semibold mr-2">Task title</div>
            <div class="w-2/3">
              <input [(ngModel)]="task.title" pInputText type="text" name="title" id="title" required [ngClass]="{'!border-red-500 bg-red-100': title.touched && title.invalid}" #title="ngModel" class="w-full" />
              @if (title.invalid && (title.dirty || title.touched)) {
                <div class="alert text-red-500 text-xs">
                  @if (title.hasError('required')) {
                    Title is required
                  }
                  @if (title.hasError('minlength')) { 
                    <!-- Not implementee -->
                    Title must be at least 4 characters long.
                  }
                </div>
              }
            </div>
          </div>

          <!-- Deadline datepicker -->
          <div class="mt-2 flex items-center">
            <div class="text-sm text-gray-500 w-1/3 font-semibold mr-2">When should this task be finished (optional)</div>
            <div class="w-2/3">
              <p-datepicker
                [(ngModel)]="task.deadline"
                [showTime]="true"
                name="deadline"
                hourFormat="24"
                dateFormat="dd-mm-yy"
                [showButtonBar]="true"
                styleClass="w-full"
                showIcon
                iconDisplay="input"
                [minDate]="this.task_id() === 0 ? now : task.deadline || now"
              />
            </div>
          </div>

          <!-- Estimate -->
          <div class="mt-2 flex items-center">
            <div class="text-sm text-gray-500 w-1/3 font-semibold mr-2">How long will this task take you to finish?</div>
            <div class="w-2/3 flex items-center pl-1">
              <p-slider [(ngModel)]="task.estimate" name="estimate" min="0.25" max="10" [step]="estimateStepSize" styleClass="w-32 sm:w-56" (onChange)="onEstimateChange()" />
              <div class="ml-4">{{ estimateDisplay() }}</div>
            </div>
          </div>

          <!-- Feeling -->
          <div class="mt-2 flex items-center">
            <div class="text-sm text-gray-500 w-1/3 font-semibold mr-2">How do you feel about doing this task?</div>
            <div class="w-2/3 flex justify-between text-3xl">
              <div class="text-center sm:text-left">
                <label><p-radiobutton name="feeling" value="1" [(ngModel)]="task.feeling" inputId="feeling1" />{{ this.utils.getFeelingEmoji(1) }}</label>
              </div>
              <div class="text-center sm:text-left">
                <label><p-radiobutton name="feeling" value="2" [(ngModel)]="task.feeling" inputId="feeling2" />{{ this.utils.getFeelingEmoji(2) }}</label>
              </div>
              <div class="text-center sm:text-left">
                <label><p-radiobutton name="feeling" value="3" [(ngModel)]="task.feeling" inputId="feeling3" />{{ this.utils.getFeelingEmoji(3) }}</label>
              </div>
              <div class="text-center sm:text-left">
                <label><p-radiobutton name="feeling" value="4" [(ngModel)]="task.feeling" inputId="feeling4" />{{ this.utils.getFeelingEmoji(4) }}</label>
              </div>
              <div class="text-center sm:text-left">
                <label><p-radiobutton name="feeling" value="5" [(ngModel)]="task.feeling" inputId="feeling5" />{{ this.utils.getFeelingEmoji(5) }}</label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="bg-gray-50 dark:bg-zinc-700 px-4 pt-3 pb-3 flex flex-col-reverse sm:flex-row sm:flex sm:justify-between gap-2 sm:px-6">
    <button pButton (click)="onCancel()" type="button" icon="pi pi-times" severity="secondary">Cancel</button>
    @if (this.task_id() != 0) {
      <button pButton (click)="confirmDelete($event)" type="button" severity="danger" icon="pi pi-trash">Delete task</button>
    }
    <button
      pButton
      type="submit"
      icon="pi pi-check"
      (click)="onTaskSave()"
      [disabled]="form.invalid || loading()"
      severity="success"
    >{{ loading() ? 'Saving...' : 'Save task' }}</button>
  </div>
</div>

<p-confirmpopup />