@import 'toastify-js/src/toastify.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-select-panel {
    background-color: #FFFFFF !important;
}
.mat-mdc-select {
    padding-left: 1em;
    padding-right: 1em;
}