@if (showTaskForm) {
  <app-task-form (close)="onEditClose($event)" [task_id]="editTaskId" />
}

<div class="container bg-slate-200 p-4 text-slate-600 mx-auto shadow-lg rounded-lg relative">
  <div class="w-10 h-10 absolute top-4 right-4 sm:-top-4 sm:-right-4 bg-slate-200 rounded-full cursor-pointer hover:text-green-600" (click)="newTask()">
    <svg data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
    </svg>
  </div>

  @if (tasks().length === 0) {
      <p class="text-3xl font-bold mb-2">No tasks found</p>
    } @else {
  
      <div class="flex items-center mb-3">
        <h1 class="text-3xl font-bold mr-4">{{ tasks().length }} tasks</h1>
        <input
            #searchInput
            type="text"
            (input)="dt2.filterGlobal(searchInput.value, 'contains')"
            placeholder="Search tasks"
            class="p-2 border border-slate-300 rounded sm:w-64 ml-2"
        />
      </div>

      <p-table
        #dt2
        [value]="tasks()"
        stripedRows
        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50, 100]"
        sortField="id"
        [sortOrder]="-1"
        [globalFilterFields]="['title']"
        [loading]="loading"
      >

        <ng-template #header>
            <tr>
                <th pSortableColumn="id">ID <p-sortIcon field="id" /></th>
                <th pSortableColumn="title">Title <p-sortIcon field="title" /></th>
                <th pSortableColumn="deadline" class="hidden sm:table-cell">Deadline <p-sortIcon field="deadline" /></th>
                <th pSortableColumn="estimate" class="hidden sm:table-cell">Estimate <p-sortIcon field="estimate" /></th>
                <th pSortableColumn="feeling">Feeling <p-sortIcon field="feeling" /></th>
            </tr>
        </ng-template>
        <ng-template #body let-task>
            <tr (click)="onEditTask(task.id)" class="cursor-pointer odd:!bg-slate-100 even:bg-white">
                <td>{{ task.id }}</td>
                <td>{{ task.title }}</td>
                <td class="hidden sm:table-cell">{{ utils.formatDateForScreen(task.deadline) }}</td>
                <td class="hidden sm:table-cell">{{ utils.formatHoursToReadableTime(task.estimate) }}</td>
                <td class="text-3xl">{{ utils.getFeelingEmoji(+task.feeling) }}</td>
            </tr>
        </ng-template>
      </p-table>
  }
</div>
